a:link {color:#777777;}
a:visited {color:#969696;}
a:hover {color:#c8c8c8;}
a:active {color:#c8c8c8;}
.Wp-Normal-P
{
    margin:0.0pt 0.0pt 0.0pt 0.0pt; text-align:left; font-weight:400; text-indent:0.0pt;
}
.Wp-Default-Paragraph-Font-C
{
    font-family:"Times New Roman", serif;
}